{% for dam in dams %}
    <div class='product-name'>
    <h4>Dam name: {{dam.d_name}}</h4>
    <button class="btn btn-small"  onclick="deleteDam('{{dam.d_name}}')" class="fa fa-remove  btn btn-danger">Delete Dam</button></div>
    {%endfor%}