<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <title>Monitor Dam</title>
    <script async src="/js/base.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css">
    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }
        blockquote {
            margin-bottom: 10px;
            border-left-color: #bbb;
        }
        form {
            margin-top: 10px;
        }
        form label {
          width: 90px;
          display: inline-block;
        }
        .form-signin input[type="text"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }
        .row {
            margin-left: 0px;
            margin-top: 10px;
            overflow: scroll;
        }
    </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Hello World</a>
            <div class="nav-collapse collapse pull-right">
                <a href="javascript:void(0);" class="btn" id="signinButton">Sign in</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <script>
    function createDam(){
        
        $.ajax({
            type: 'GET',
            url: '/createDam',
            data: '',
            success: function(response) {
                //window.alert(response)
                }
        }); 
    }
  </script>
    <script>
    function changeSwitches(){
        var sw1 = document.getElementById("1").checked;
        var sw2 = document.getElementById("2").checked;
        var sw3 = document.getElementById("3").checked;
        alert("sw1"+sw1+sw2+sw3);
        $.ajax({
            type: 'POST',
            url: '/changeSwitches',
            data: 'sw1='+sw1+'&sw2='+sw2+'&sw3='+sw3,
            success: function(response) {
                window.location.reload()
                }
        }); 
    }
  </script>
    <h1>Interface</h1>
    <h4>Create a new dam</h4>
    <div>
    <form onsubmit="return false;">
    <td align=right><b>Dam name</b></td>
    <td><input type=text name=dam-name placeholder="dam name"></td>


    <input class="btn btn-small" id="createDamButton" type="submit" value="Submit">Create Dam</input></div>
    </form>
    <div id="switches">
        <h4>Switch1: {{switch.switch1}}</h4> 
        <h4>Switch2: {{switch.switch2}}</h4>
        <h4>Switch3: {{switch.switch3}}</h4>
    </div>
    <hline>
    <h5>Change switches</h5>
    Switch1  <input class="gwt-SimpleCheckBox"type="checkbox"  id='1'></input>
    Switch2  <input class="gwt-SimpleCheckBox"type="checkbox"  id='2'></input>
    Switch3  <input class="gwt-SimpleCheckBox"type="checkbox"  id='3'></input>
    <button onclick= "changeSwitches()"class="btn btn-small" style="background: aquamarine none repeat scroll 0% 0%;">Change Switches</button>
    <script>
        function init() {
            google.appengine.samples.hello.init('//' + window.location.host + '/_ah/api');
        }
    </script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
</div>
</body>
</html>
