<p>Device name:<td><input type=text id="Devicename" placeholder="Device name"></td>
<p>Arduino Pin #:<input type=text id="arduino_pin" placeholder="Pin number"></p>
<button class="btn btn-small" id="createDeviceButton" onclick="deviceCreate()">Add Device</button>