{% for device in devices %}
	<p>Device Name: {{device.m_name}}</p>
	<p>Current Value: {{device.value}} mA</p>
	<button class="btn btn-small"  onclick="deviceDelete('{{device.m_name}}')">Delete</button>
{%endfor%}
