<td>Switch Name:<input type=text id="switchname" placeholder="Switch name"></td>
                <div>Arduino Pin :
                <td><input type=text id="arduino_pin" placeholder="Arduino Pin"></td></div>
                <td> Input:  <input class="gwt-SimpleCheckBox"type="checkbox"  id='switch_input_checkbox'></input></td>
                <button class="btn btn-small" id="createSwitchButton" onclick="createswitch()">Add Switch</button>