		<h4>Inputs</h4>
        {%for switch in switches%}
        
            {% if switch.i_NOTo == True %}
            
                <p>Switch name: {{switch.s_name}} </p>
                <p>Pin: {{switch.arduino_pin}} Switch On: {{switch.state}} </p>
                
               <button class="btn btn-small"  onclick="DeleteSwitch('{{switch.s_name}}')">Delete</button>
            {%endif%}
            
        {%endfor%}
        <h4>Outputs</h4>
        {%for switch in switches%}
        
        {% if switch.i_NOTo == False %}
            	
                <p>Switch name: {{switch.s_name}} </p>
                <p>Pin: {{switch.arduino_pin}} Switch On: {{switch.state}} </p>
                 
                <button class="btn btn-small"  onclick="changeSwitch('{{switch.s_name}}','{{switch.state}}','{{switch.arduino_pin}}')">Change</button>
                <button class="btn btn-small"  onclick="DeleteSwitch('{{switch.s_name}}')">Delete</button>
            {%endif%}
            <p></p>
        {%endfor%} 